body {
    background-color: white;
    margin: 0px;
    font-family: 'Segoe UI', Arial;
    position: relative;    
}
    .containerr {
        align-items: center;
        float: left;
    }

    .imager {
        float: left;
        padding: 5px;
    }

    .fontsizebody {
        font-size: 75%;
    }

    .ReportcolSiz table {
        border-collapse: collapse;
    }
.bodyboard {
    display: table-header-group;
    border: 2px solid black;
}

    .ReportcolSiz tr td {
        padding: 0px;
        margin: 0px;
    }

    .borderless table {
        border-top-style: none;
        border-left-style: none;
        border-right-style: none;
        border-bottom-style: none;
    }

    .table-borderless > tbody > tr > td,
    .table-borderless > tbody > tr > th,
    .table-borderless > tfoot > tr > td,
    .table-borderless > tfoot > tr > th,
    .table-borderless > thead > tr > td,
    .table-borderless > thead > tr > th {
        border: none;
    }

    table {
        page-break-inside: auto;
        width: 100%;
        clear: both;
        border: 1px solid darkgray;
        border-collapse: collapse;
        margin: auto;
    }
    /*th {*/
    /*background-color: navy;*/
    /*color: white;
}*/
    .billLineHeight {
        line-height: 14px;
    }

    td, th {
        border: 1px solid darkgray;
        padding: 5px;
    }

    .pagedown table tr {
        page-break-inside: avoid !important;
        margin: 4px 0 4px 0;
    }

    tr {
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tfoot {
        display: table-row-group;
    }

   td {
       word-wrap: break-word;
       hyphens: auto
   }

    tr:nth-child(even) {
        background-color: transparent;
    }

    .backgroundForBill {
        background-color: lightgray;
    }

    tr td {
        padding: 2px;
        margin: 0px;
    }

        tr td p {
            margin: 0px;
        }

    .invoice-head {
        clear: both;
        display: block;
        padding: 10px;
        margin-bottom: 40px;
    }

    .invoice-title {
        background-color: navy;
        color: white;
        font-size: 20px;
        padding: 10px;
        width: 100%;
    }

    .invoice-headBorder {
        width: 99.50%;
        height: 98px;
        position: relative;
        border: 2px solid black;
        border-radius: 8px 10px;
    }

    .invoice-to {
        float: left;
    }

    .invoice-details {
        float: right;
    }

    .branchCenter-details {
        text-align: center;
    }

    .numeric-cell {
        text-align: right;
    }

    .numeric-celldouble {
        padding-right: 25px;
        text-align: right;
    }

    .cellLeft {
        text-align: left;
    }

    .topcelltop {
        margin-top: -15px;
    }

    .bottomcellbold {
        font-size: 15px;
    }

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }

    .srnowith6 {
        width: 6%;
    }

    .amountwith12 {
        width: 11.80%;
    }

    tr.noBorder td {
        border-bottom: 0;
        border-top: 0;
    }

    tr.noBorderBody td {
        border-bottom: 0;
        border-top: 0;
        border-left: 0;
        border-right: 0;
    }

    tr.noBorderHead th {
        border-bottom: 2px solid black;
        border-top: 2px solid black;
        border-left: 0;
        border-right: 0;
    }

    #backgroundfixed {
        position: absolute;
        display: block;
        min-width: 100%;
        opacity: 0.5;
        text-align: center;
        background-color: transparent;
        padding-top: 50%;
    }

    #bg-textfixed {
        color: lightgrey;
        font-size: 60px;
        transform: rotate(300deg);
        -webkit-transform: rotate(300deg);
        opacity: 0.8;
        /*  filter: alpha(opacity=50);*/
        background-color: transparent;
        background-repeat: repeat;
    }

    .watermark {
        height: 95%;
        width: 90%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-repeat: repeat;
        z-index: 9999;
        opacity: 0.2;
    }

    .watermarkx {
        position: fixed;
        opacity: 0.2;
        /* Safari */
        -webkit-transform: rotate(-60deg);
        /* Firefox */
        -moz-transform: rotate(-60deg);
        /* IE */
        -ms-transform: rotate(-60deg);
        /* Opera */
        -o-transform: rotate(-60deg);
        /* Internet Explorer */
        position: absolute;
        font-size: 130px;
        margin-top: -700px;
        margin-left: -50px;
        white-space: nowrap;
    }

    .wdp-1 {
        width: 1%;
    }

    .wdp-2 {
        width: 2%;
    }

    .wdp-3 {
        width: 3%;
    }

    .wdp-4 {
        width: 4%;
    }

    .wdp-5 {
        width: 5%;
    }

    .wdp-6 {
        width: 6%;
    }

    .wdp-7 {
        width: 7%;
    }

    .wdp-8 {
        width: 8%;
    }

    .wdp-9 {
        width: 9%;
    }

    .wdp-10 {
        width: 10%;
    }

    .wdp-11 {
        width: 11%;
    }

    .wdp-12 {
        width: 12%;
    }

    .wdp-13 {
        width: 13%;
    }

    .wdp-14 {
        width: 14%;
    }

    .wdp-15 {
        width: 15%;
    }

    .wdp-16 {
        width: 16%;
    }

    .wdp-17 {
        width: 17%;
    }

    .wdp-18 {
        width: 18%;
    }

    .wdp-19 {
        width: 19%;
    }

    .wdp-20 {
        width: 20%;
    }

    .wdp-21 {
        width: 21%;
    }

    .wdp-22 {
        width: 22%;
    }

    .wdp-23 {
        width: 23%;
    }

    .wdp-24 {
        width: 24%;
    }

    .wdp-25 {
        width: 25%;
    }

    .wdp-26 {
        width: 26%;
    }

    .wdp-27 {
        width: 27%;
    }

    .wdp-28 {
        width: 28%;
    }

    .wdp-29 {
        width: 29%;
    }

    .wdp-30 {
        width: 30%;
    }

    .wdp-31 {
        width: 31%;
    }

    .wdp-32 {
        width: 32%;
    }

    .wdp-33 {
        width: 33%;
    }

    .wdp-34 {
        width: 34%;
    }

    .wdp-35 {
        width: 35%;
    }

    .wdp-36 {
        width: 36%;
    }

    .wdp-37 {
        width: 37%;
    }

    .wdp-38 {
        width: 38%;
    }

    .wdp-39 {
        width: 39%;
    }

    .wdp-40 {
        width: 40%;
    }

    .wdp-41 {
        width: 41%;
    }

    .wdp-42 {
        width: 42%;
    }

    .wdp-43 {
        width: 43%;
    }

    .wdp-44 {
        width: 44%;
    }

    .wdp-45 {
        width: 45%;
    }

    .wdp-46 {
        width: 46%;
    }

    .wdp-47 {
        width: 47%;
    }

    .wdp-48 {
        width: 48%;
    }

    .wdp-49 {
        width: 49%;
    }

    .wdp-50 {
        width: 50%;
    }

    .wdp-51 {
        width: 51%;
    }

    .wdp-52 {
        width: 52%;
    }

    .wdp-53 {
        width: 53%;
    }

    .wdp-54 {
        width: 54%;
    }

    .wdp-55 {
        width: 55%;
    }

    .wdp-56 {
        width: 56%;
    }

    .wdp-57 {
        width: 57%;
    }

    .wdp-58 {
        width: 58%;
    }

    .wdp-59 {
        width: 59%;
    }

    .wdp-60 {
        width: 60%;
    }

    .wdp-61 {
        width: 61%;
    }

    .wdp-62 {
        width: 62%;
    }

    .wdp-63 {
        width: 63%;
    }

    .wdp-64 {
        width: 64%;
    }

    .wdp-65 {
        width: 65%;
    }

    .wdp-66 {
        width: 66%;
    }

    .wdp-67 {
        width: 67%;
    }

    .wdp-68 {
        width: 68%;
    }

    .wdp-69 {
        width: 69%;
    }

    .wdp-70 {
        width: 70%;
    }

    .wdp-71 {
        width: 71%;
    }

    .wdp-72 {
        width: 72%;
    }

    .wdp-73 {
        width: 73%;
    }

    .wdp-74 {
        width: 74%;
    }

    .wdp-75 {
        width: 75%;
    }

    .wdp-76 {
        width: 76%;
    }

    .wdp-77 {
        width: 77%;
    }

    .wdp-78 {
        width: 78%;
    }

    .wdp-79 {
        width: 79%;
    }

    .wdp-80 {
        width: 80%;
    }

    .page {
        padding: 0.5cm;
        margin-top: 0cm auto;
        /*border: 1px #D3D3D3 solid;
         border-radius: 5px;*/
        background: white;
        /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);*/
    }

    .subpage {
        padding: 1cm;
        /*border: 5px red solid;*/
        height: 256mm;
        /*outline: 2cm #FFEAEA solid;*/
    }

    @page {
        size: A4;
        margin: 0;
    }

    @media print {
        .page {
            margin: 0;
            border: initial;
            /*border-radius: initial;*/
            width: initial;
            min-height: initial;
            min-width: inherit;
            box-shadow: initial;
            page-break-after: always;
        }
      
    }