@model PatientInvestigationViewModel
<tr>
	<td>
		<input asp-for="TempDigitPlace" class="form-control " hidden />
		<input asp-for="TestIdX" class="form-control " hidden />
		<input asp-for="TestSubId" class="form-control " hidden />
		<input asp-for="TestMasterViewModels.TestCode" class="form-control " hidden />
		<input asp-for="TestLocked" class="form-control " hidden />
		<textarea asp-for="TestDetails" class="form-control  " rows="1" style="background-color:#d1ea7c;color:#2c2afa;">
		</textarea>
		<textarea asp-for="TestDetailsF" class="form-control  " rows="1" style="background-color:#d1ea7c;color:#2c2afa;" hidden>
		</textarea>
	</td>
	<td>
		<input asp-for="PatResult" class="form-control  text-right ModeResultRecord " onblur="DLCountFormating(); SBilibunCount(); SBUNCount(); SCholesterolCount(); TestPlzValue();" onfocus="FindRowIndex(this); TestResultSearchRecord(); TestCodeDisplay(); ValidReadOnly(); this.setSelectionRange(0, this.value.length);" onkeypress="TestFilterResult();" style="background-color:#def6f4;color:#2c2afa;" />
	</td>
	<td>
		<b>
			<textarea asp-for="RangeDetails" class="form-control  " rows="1" style="background-color:#f8fae6;">
			</textarea>
		</b>
	</td>
	<td>
		<textarea asp-for="Units" class="form-control  ModeResultRecord " rows="1" style="background-color:#ffd800;">
		</textarea>
	</td>
	<td>
		<textarea asp-for="MiniRange" class="form-control  text-right ModeResultRecord " rows="1" style="background-color:#cddaf8;">
		</textarea>
	</td>
	<td>
		<textarea asp-for="MaxRange" class="form-control  text-right ModeResultRecord " rows="1" style="background-color:#f6e1e1;">
		</textarea>
	</td>	
	
</tr>