@{
	ViewData["Title"] = "Formula Working";	
}
<h2 class="text-center">Test Formula Working ( Any Case Character ) </h2>
<div>	
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2 pr-2 fullpaidColor">
				Hemoglobin<br />
				Haemoglobin<br />
				HB<br />
				HB% Or HB %<br />
				H.B.%<br />
				H.B. %
			</div>
			<div class="col-md-2 pr-2 fullpaidColor">
				Basophils<br />
				Eosinophils<br />
				Monocytes<br />
				Lymphocytes<br />
				Polymorphs<br />
				Neutrophils
			</div>
			<div class="col-md-4 pr-2 fullyunpaidColor">
				RBCS Count<br />
				R.B.C.S Count<br />
				R.B.CS Count<br />
				Haematocrit Or Packed Cell Volume (PCV)<br />
				Heamatocrit Or Packed Cell Volume (PCV)
			</div>
			<div class="col-md-4 resultHoldColor">
				Hematocrit Or Packed Cell Volume (PCV)<br />
				Hematocrit / Packed Cell Volume (PCV)<br />
				Packed Cell Volume (PCV)<br />
				PCV<br />
				Mean Corpuscular Volume (MCV)<br />
				MCV
			</div>

			<div class="col-md-4 pr-2 mt-2 fullpaidColor">
				M.C.V.<br />
				Mean Corpuscular Hemoglobin (MCH)<br />
				Mean Corpuscular Hemoglobin<br />
				MCH<br />
				M.C.H.<br />
				Mean Corpuscular Haemoglobin (MCH)
			</div>
			<div class="col-md-4 pr-2 mt-2 fullyunpaidColor">
				Mean Corpuscular Haemoglobin<br />
				Mean Corpuscular Heam. Conc. (MCHC)<br />
				Mean Corpuscular Haem. Conc. (MCHC)<br />
				Mean Corpuscular Hemoglobin Conc. (MCHC)<br />
				Mean Corpuscular Haemoglogin Conc. (MCHC)<br />
				MCHC
			</div>
			<div class="col-md-4 mt-2 resultHoldColor">
				M.C.H.C.<br />
				S.Cholesterol ( TOTAL )<br />
				S. Cholesterol ( TOTAL )<br />
				Serum Cholesterol ( TOTAL )<br />
				S.Triglyceride<br />
				S. Triglyceride
			</div>


			<div class="col-md-4 pr-2 mt-2 fullpaidColor">
				Serum Triglyceride<br />
				HDL Cholesterol<br />
				LDL Cholesterol<br />
				Total Protein<br />
				Albumin<br />
				VLDL Cholesterol
			</div>
			<div class="col-md-4 pr-2 mt-2 fullyunpaidColor">
				LDL Cholesterol<br />
				S.Cholesterol ( TOTAL )/HDL Cholesterol<br />
				S. Cholesterol ( TOTAL )/HDL Cholesterol<br />
				Serum Cholesterol ( TOTAL )/HDL Cholesterol<br />
				LDL Cholesterol/HDL Cholesterol<br />
				Globulin
			</div>
			<div class="col-md-4 mt-2 resultHoldColor">
				Albumin/Globulin Ratio<br />
				Control Plasma<br />
				Test Plasma<br />
				INR Value<br />
			</div>


			<div class="col-md-4 pr-2 mt-2 fullpaidColor">
				Serum Bilirubin ( TOTAL )<br />
				S.Bilirubin ( TOTAL )<br />
				S. Bilirubin ( TOTAL )<br />
				Urea<br />
				S. Urea<br />
				S.Urea
			</div>
			<div class="col-md-4 pr-2 mt-2 fullyunpaidColor">
				Serum Urea<br />
				B.U.N.<br />
				BUN<br />
				Serum BUN<br />
				Urine Albumin<br />
				Urine Micro Albumin<br />
				Urine For Microalbumin
			</div>
			<div class="col-md-4 mt-2 resultHoldColor">
				Urine Creatinine<br />
				Urine Micro Creatinine<br />
				Urine Albumin / Creatinine Ratio ( ACR )<br />
				Urine Albumin/Creatinine Ratio ( ACR )<br />
				Urine Micor Albumin / Creatinine Ratio ( ACR )<br />
				Urine Micor Albumin/Creatinine Ratio ( ACR )<br />
				Microalbumin / Creatinine Ratio<br />
				Microalbumin/Creatinine Ratio<br />
				ACR Or A.C.R.
			</div>

			<div class="col-md-4 pr-2 mt-2 fullpaidColor">
				Control Value<br />
				Patient Value<br />
				Ratio<br />
				CD 4 Lymphocyte Absolute<br />
				CD 8 Lymphocyte Absolute<br />
				CD 4 / CD 8 Ratio
			</div>
			<div class="col-md-4 pr-2 mt-2 fullyunpaidColor">
				Absolute CD4+(T-Helper)<br />
				Absolute CD8+(T-Suppressor Cells)<br />
				Ratio CD4/CD8<br />				
			</div>
			<div class="col-md-4 mt-2 resultHoldColor">				
			</div>
		</div>
	</div>
</div>
