@{
    ViewData["Title"] = "AccountLocked";
}

<div class="container pt-5">
    <h3 class="text-danger">
        Your Account is locked. Please try again sometime or you may
        <a asp-action="ForgotPassword" asp-controller="Account">
            reset your password click by here
        </a>
    </h3>    
</div>
