@model ChangePasswordViewModel
@{
	ViewData["Title"] = "ChangePassword";
}

<div class="ChangePasswordBorder1">
	<h2 class="bg-info">Change Password</h2>
	<hr />
	<div class="row">
		<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
			<form asp-action="ChangePassword" asp-controller="Account" method="post">
				<div asp-validation-summary="All" class="text-danger"></div>
				<div class="form-group">
					<label asp-for="CurrentPassword" class="control-label"></label>
					<input asp-for="CurrentPassword" class="form-control" />
					@*<span asp-validation-for="CurrentPassword" class="text-danger"></span>*@
				</div>
				<div class="form-group">
					<label asp-for="NewPassword" class="control-label"></label>
					<input asp-for="NewPassword" class="form-control" />
					@*<span asp-validation-for="NewPassword" class="text-danger"></span>*@
				</div>
				<div class="form-group">
					<label asp-for="ConfirmPassword" class="control-label"></label>
					<input asp-for="ConfirmPassword" class="form-control" />
					@*<span asp-validation-for="ConfirmPassword" class="text-danger"></span>*@
				</div>
				<div class="form-group row">										
						<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6"><button type="submit" class="btn btn-primary">Update</button></div>
						<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right"><a asp-action="Index" asp-controller="Home" class="btn btn-sm btn-outline-info">Cancel</a></div>
				</div>
			</form>
		</div>
	</div>
</div>