@model EmailConfirmViewModel
@{
    ViewData["Title"] = "ConfirmEmail";
}

<h1 class="text-center">Confirm Email</h1>
<div class="container">
    <div class="row text-center">
		<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
			@if (Model.EmailVerified == true)
			{
				<div class="alert alert-success" role="alert">
					<p>Your email has been verifed successfully.</p>
				</div>
			}
			else
			{
				if (Model.EmailSend)
				{
					<p>Email send on your registered email id</p>
				}
				else
				{
					<p>You have send an email on your mail id. Click on the link to login</p>
				}	
				<form asp-action="ConfirmEmail">
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						<input type="hidden" asp-for="Email" />
						<p>Did not get any email of deleted by mistake </p>
						<div class="form-group">
							<input type="submit" value="Resend confirmation email" class="btn btn-primary" style="width:auto;"/>
						</div>
				</form>
			}
		</div>
    </div>
</div>
