@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
}

    <div class="container ChangePasswordBorder1">
        <h2>Reset Password</h2>
        <hr />
        <div class="row">
			<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
				@if (Model?.IsSuccess == true)
				{
					<div class="alert alert-success" role="alert">
						<p>
							You have updated your password successfully
						</p>
					</div>
				}
				else
				{
					<form asp-action="ResetPassword" method="post">
						<div asp-validation-summary="All" class="text-danger"></div>
						<input asp-for="Token" type="hidden" />
						<input asp-for="UserId" type="hidden" />
						<div class="form-group">
							<label asp-for="NewPassword" class="control-label"></label>
							<input asp-for="NewPassword" class="form-control" />
							<span asp-validation-for="NewPassword" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="ConfirmPassword" class="control-label"></label>
							<input asp-for="ConfirmPassword" class="form-control" />
							<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
						</div>
						<button type="submit" class="btn btn-primary" style="width:auto;">Reset Password</button>
					</form>
				}

			</div>
        </div>
    </div>